body {
  margin: 0;
  background:radial-gradient(circle at center, #26355f 0%, #111827 100%);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.cute {
  width: 180px;
  margin-bottom: 20px;
}

.title {
  font-size: 26px;
  color: #cde1ff;
}

.subtitle {
  color: #b8caff;
  margin-bottom: 30px;
}

#startBtn {
  padding: 14px 30px;
  background: linear-gradient(45deg, #0f2b59, #3dc2ff);
  border: none;
  border-radius: 30px;
  color: #e6f0ff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#startBtn:hover {
  transform: scale(1.05);
}

.cake {
  width: 280px;
  animation: pop 1s ease;
}

@keyframes pop {
  0% {transform: scale(0.2);}
  100% {transform: scale(1);}
}

.wish {
  margin-top: 20px;
  font-size: 30px;
  color: #a5c8ff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
